@import "tailwindcss";

 .p-layout-size {
  @apply !w-[15.608rem] md:!w-[24.208rem] lg:!w-[32.541rem];
}


.footer-title{
  @apply w-[3.338rem] md:w-[5.1rem] lg:w-[6.96rem] h-[0.625rem] md:h-[0.9rem] lg:h-[1.25rem]

}
